---
import '@/styles/globals.css'
import { MainComponent } from "@/components/ui/main"
import { getCollection } from 'astro:content';
import type { Lingo } from "@/TypeLingo"

const lingos = (await getCollection('lingos')).map((lingo) => {
  return lingo.data as Lingo
})
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

<MainComponent lingos={lingos} />

		
	</body>
</html>
